.page-title{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

/*カート追加完了*/

.cart-complete-title{
    font-size: 20px;
    color: #333;
}
.cart-complete-title-img{
    width: 100px;
}
/* product */
.product-img{
    width: 100%;
}
.product-info{
    padding: 30px 0;
}
.product-info h5{
    font-size: 40px;
}
.product-info p{
    font-size: 20px;
/*ホーム画面・検索結果画面商品カード*/
.product-card{
    width: 45%;
    
}

.product-card img{
    width: 100%;
}

.product-card h5{
    font-size: 15px;
    color: #333333;
}

.product-card-price{
    font-size: 10px;
    color: #666;
}