.page-title{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

/*index*/

.index{
    position: absolute;
    margin: 50px auto;
    left: 50%;
    top: 50px;
    transform: translateX(-50%) ;
    z-index: 100;
}

.hero{
    position: fixed;
    width: 100%;
    max-width: 600px;
    z-index: 10;
    left: 50%;
    top: 80px;
    transform: translateX(-50%)            
}

.hero-title{
    width: 100%;
    position: absolute;
    font-size: 60px;
    text-align: center;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.hero img{
    position: relative;
    width: 100%;
    z-index: 90;
    
}


.index-content{
    margin-top: 270px;
    position: relative;
    z-index: 100;
}

.index-search-input{
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #f3efe8e7;
    border: solid 3px #fff;
    position: relative;
}

.index-search-input input{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 45px;
    border-radius: 30px;
    z-index: 1;
    font-size: 15px;
}

.search-btn{
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    position: absolute;
    z-index: 10;
}

.search-btn img{
    width: 30px;
}

.pref-search-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    border-radius: 15px;
    text-decoration: none;
    color: #333333;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #d4e9ad;
}

.pref-search-card img{
    width:130px;
}

.pref-search-card div{
    bottom: 0;
    right: 0;
}

.pref-search-card h2{
    font-size: 20px;
}

.history_none{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*完了画面*/

.complete-title{
    font-size: 20px;
    color: #333;
}
.complete-title-img{
    width: 100px;
}

/* product */
.product-img{
    width: 100%;
}
.product-info{
    padding: 10px 0;
}
.product-info h5{
    font-size: 40px;
}
.product-info p{
    font-size: 30px;
    color: #666;
}


.product-kosu{
    display: flex;
    justify-content: right;
    align-items: center;
    color: #666;
}
.product-count{
    width: 100px;
}
.product-info2 h5{
    font-size: 30px;
    overflow-wrap: break-word;
}

.product-info2 p{
    overflow-wrap: break-word;
}

.back-home-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.add_product_none{
    background-color: #bcbbbb;
}

.product-info-card{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info-pref{
    width: 49%;
    height: 100px;
    border-radius: 15px;
    padding: 20px;
    background-color: #d4e9ad;
}
.product-info-card p{
    font-size: 15px;
    color: #666666;
}

.pref-name{
    font-size: 25px;
    color: #83ba1c;
}

.product-info-alcohol{
    width: 49%;
    height: 100px;
    border-radius: 15px;
    background-color: #f3cb96;
}
/*ホーム画面・検索結果画面商品カード*/
.index-recommend,.index-repurchase{
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fffffff2;
    border-radius: 10px;
}

.index-list-title{
    color: #333;
    font-size: 20px;
    padding-bottom: 10px;
}

.index-recommend-list{
    overflow-x: scroll;
    display: flex;
}

.index-recommend-list::-webkit-scrollbar {
    height: 5px; /* スクロールバーの高さ */
  }
   
  .index-recommend-list::-webkit-scrollbar-thumb {
    background: #C5AF7F; /* ツマミの色 */
    border-radius: 7px; /* ツマミ両端の丸み */
  }
   
  .index-recommend-list::-webkit-scrollbar-track {
    background: #EEE3D0; /* トラックの色 */
    border-radius: 7px; /* トラック両端の丸み */
  }


.index-product-card{
    width: 40%;
    flex-shrink: 0;
    text-decoration: none;
}

.result-title{
    padding: 20px 0;
}

.product-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.product-card{
    width: 45%;
    text-decoration: none;
}

.product-card:hover{
    width: 50%;
    transition: 1s;
}

.product-card-img{
    width: 100%;
}

.product-card-name{
    font-size: 13px;
    color: #333333;
}

.product-card-price{
    font-size: 15px;
    color: #666;
    padding: 5px 0;
    font-weight: bold;
}

.product-card-add-btn{
    background-color: #B79862;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    border-radius: 60px;
}
.error-message{
    color: red;
}

/* cart */
.cart-ravel{
    width: 100%;
    height: 80px;
    font-size: 30px;
    text-align: center;
    padding-bottom: 180px;
}
.cart-money{
    font-size: 25px;
    padding: 50px 0 15px 0;
}
.cart-delete{
    background-color: #FF7E7E;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    border-radius: 60px;
}

.coupon-card{
    width: 100%;
    padding: 30px;
    background-color: #FFC8C8;
    display: flex;
    align-items: center;
    justify-content:  space-evenly;
    border-radius: 20px;
   
}
.coupon-title{
    font-size: 30px;
}
.order-page-title{
    color: #B79862;
}
.siharai{
    padding: 10px 0;
}
.option-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.option {
    display: flex;
    align-items: center;
}
.option input[type="radio"] {
    appearance: none;
    background-color: #eee1cd;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.option input[type="radio"]:checked {
    background-color: #d4b894;
}
.page-title-admin{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    color: red;
}
/* Container for the main layout */
.container {
    width: 300px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

/* Header buttons styling */
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-button {
    background-color: #b89e72;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.header-button:hover {
    background-color: #a58b60;
}

/* Styling for each product item */
.product-list {
    border-top: 1px solid #ccc;
}

.product-item {
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    
}

.product-info p {
    margin: 2px 0;
    font-size: 20px;
    word-break: break-word;
    
    margin-right: 0;
}

/* Button styles */
.button-update,
.button-add {
    background-color: #b89e72;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 5px;
}

.button-update {
    width: 60px;
}

.button-add {
    width: 80px;
}

.button-update:hover,
.button-add:hover {
    background-color: #a58b60;
}

.order-price{
    padding: 20px 0;
}

.user-orderinfo{
    font-size: 20px;
    padding: 15px 10px;
}
.delete{
    color: red;
}
.order-info {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
}
.order-info h2 {
    text-align: center;
}
.order-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.order-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.order-item p {
    margin: 5px 0;
}
.status {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f5a623;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.status-text {
    color: #888;
    margin-top: 5px;
    text-align: center;
}
.change-status {
    color: green;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
}
.status1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00EB75;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}